<div class="smart-memos-settings" id="smart-memos-settings">
  <h1>Smart Memos</h1>
  <div class="setting-component"
    data-name="Text Generation Model Platform"
    data-setting="chat_model_platform_key"
    data-type="dropdown"
    data-description="Select a model platform to use with Smart Chat."
    data-callback="changed_smart_chat_platform"
    <%- chat_platforms.map((platform, i) => `data-option-${i + 1}="${platform.key}|${platform.description}"`).join('\n') %>
  ></div>
  <% if(chat_platform?.fetch_models) { %>
    <% if(settings[settings.chat_model_platform_key]?.api_key) { %>
      <div class="setting-component"
        data-name="Model Name"
        data-type="dropdown"
        data-setting="<%= settings.chat_model_platform_key %>.model_name"
        <%- platform_chat_models.map((model, i) => `data-option-${i}="${model.key}|${model.model_name} (${model.description})"`).join('\n') %>
      ></div>
    <% } %>
    <% if(!platform_chat_models.length) { %>
      <div class="setting-component"
        data-name="Refresh Models List"
        data-type="button"
        data-callback="changed_smart_chat_platform"
      ></div>
    <% } %>
    <% if(!hasSmartConnections) { %>
      <div class="setting-component"
      data-name="Import Model Config from Smart Connections"
      data-type="button"
      data-callback="import_model_config_from_smart_connections"
    ></div>
    <% } %>
    <div class="setting-component"
      data-name="<%= chat_platform.description %> API Key"
      data-type="text"
      data-setting="<%= settings.chat_model_platform_key %>.api_key"
      <% if(chat_platform.signup_url) { %>
        data-description="<a href='<%= chat_platform.signup_url %>'>Get API Key</a> for <%= chat_platform.description %>."
      <% } else { %>
        data-description="API Key for <%= chat_platform.description %>."
      <% } %>
      data-placeholder="Enter an API Key"
      data-button="Save"
      data-callback="changed_smart_chat_platform"
    ></div>
  <% } %>
  <div class="setting-component"
    data-name="Custom transcription-to-notes prompt"
    data-type="textarea"
    data-setting="system_prompt"
  ></div>
  <div class="setting-component"
    data-name="Include Transcript"
    data-type="toggle"
    data-setting="includeTranscript"
  ></div>
  <div class="setting-component"
    data-name="Recording File Path"
    data-type="text"
    data-setting="recordingFilePath"
    data-description='Specify the file path where recordings will be saved. Ex. If you want to put recordings in Resources folder then path is "Resources" (Defaults to root)'
    data-placeholder="Ex. Resources"
  ></div>
</div>